.container{
    width: 500px;
    height: 300px;
    background: #ccc;
    /* padding: 40px; */
    position: relative;
}
.box1{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    transition: all 1.2s ease;
    position: absolute;
    top: 0;
    left: 0px;
    transform: translate(75vw, 75vh);
}
.box1:hover{
    top: unset;
    left: unset;
   
    bottom: 0px;
    right: 0px;
    /* top: 10px;
    left: 20px; */
}