.form-field {
    position: relative;
}
.form-input {
    border: 1px solid #eee;
    border-radius: 8px;
    width: 400px;
    height: 50px;
    padding: 0 20px;
    transition: all 0.25s ease;
}
.form-input:focus {
    border-color: #6a5af9;
}
.form-label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 21px;
    user-select: none;
    pointer-events: none;
}
.form-input:not(:placeholder-shown) + .form-label,
.form-input:focus + .form-label {
    top: 0;
    color: #6a5af9;
    padding: 0 10px;
    background: white;
}